body {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: black;
	min-height: 100%;
	min-width: 100%;
	background-repeat: no-repeat;
}

h1 {
	color: white;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;	
	font-family: "Baskerville";
	}

.text {
	color: white;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;	
	font-family: "Baskerville";
}

.container {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.container-fluid img {
	max-width: 100%
}

.right-align {
	color: gray;
	position: absolute; bottom: 0; right: 5px;
}

.left-align {
	color: gray;
	position: absolute; bottom: 0; left: 5px;
}
