body {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: black;
	min-height: 100%;
	min-width: 100%;
}

div {
	display: block;
}

.header {
	border-color: #b2b2b2;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	margin-bottom: 20px;
}

.right-align {
	color: gray;
	position: absolute; bottom: 0; right: 5px;
}

.left-align {
	color: gray;
	position: absolute; bottom: 0; left: 5px;
}

h1 {
	color: white;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;	
	font-family: "Baskerville";
	}

.text {
	color: white;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;	
	font-family: "Baskerville";
}