body {
  padding-top: 50px;
}
.intro {
  padding: 40px 15px;
  text-align: left;
}

.monospace {
	font-family: Courier;
}

.zvalue {
  color: #ff9933;
}

.bg-primary {
	font-size: 18px;
	padding: 6px;
}

.beta {
    border-radius: 50%;

    width: 24px;
    height: 24px;
    padding: 4px;
    
    border: 2px solid orange;
    color: orange;
    text-align: center;
    
    font: 18px Courier;
}

.kprime {
    border-radius: 50%;

    width: 24px;
    height: 24px;
    padding: 4px;
    
    border: 2px solid green;
    color: green;
    text-align: center;
    
    font: 18px Courier;
} 

.spvalue {
	color: blue;
}

#input_text {
	width: 250px;
}

.cour {
	font-family: Courier;
}

#solution {
	font-size: 24px;
}

#solutionkmp {
    font-size: 24px;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.equation {
    font: 24px Arial;
}

.step {
    font-size: 18px;
}

#work {
    font-size: 18px;
    font-family: Courier;
}