body {
     background-color: #F0F8FF;
     font-family: Helvetica;
     font-size: 12px;
     max-width: 600px;
}

#title {
       text-align: center;
       font-size: 15px;
       margin: 0;
}

h1 {
   text-align: center;
   font-size: 13px;
}

h2 {
   text-align: center;
   font-size: 13px;
}

p.header {
	 font-size: 13px;
	 font-weight: bold;
	 font-style: italic;
	 margin: 0;
}

p.subheader {
	    font-size: 13px;
	    font-weight: bold;
	    margin: 0;
}

.text {
      padding-left: 7%;
      font-size: 12px;
}